$main-font: "Merriweather", serif;
$main-bg: #f6f3f3;
$main-text: #343030;
$footer-text: #555555;
$ordinary-btn: #403432;
$hover-btn: #776763;
$disabled-btn: #c1b4b1;
$in-cart-btn: #5b3a32;
$btn-text: #f4f6f9;
